.child-container
  display: flex
  flex-direction: column
  width: 300px
  //height: fit-content
  min-height: 140px
  max-height: 300px
  overflow-y: scroll
  overflow-x: hidden
  border: darkslateblue 2px solid
  padding: 5px
