<div class="child-container scrollbar">
  <h6 [style.align-self]="'center'">child2 component - @Input()</h6>
  <p>Message from parent: {{messageFromParent}}</p>
  <p>Message from OutputInputChild1Component: {{commonMessageObj.message}}</p>
</div>
