<div class="parent-container">
  <h6 style="align-self: center">parent component</h6>
  <div style="display: flex; justify-content: space-around">
    <app-oi-child-1
      (messageToParentEmitter)="getMessageFromChild1($event)"
      (commonMessageObjChangeEmitter)="commonMessageObjChange($event)"
      [commonMessageObj]="commonMessageObj"></app-oi-child-1>
    <app-oi-child-2 [messageFromParent]="messageToChild2" [commonMessageObj]="commonMessageObj"></app-oi-child-2>
  </div>
  <br>
  <div>Message from child1: {{messageFromChild1 || '-'}}</div>
  <br>
  <div>Message to child2: <input type="text" style="width: 300px" [(ngModel)]="messageToChild2"></div>
</div>
