<div class="user-ids mb-6 align-self-center">
  <span
    *ngFor="let i of userIds"
    class="me-4"
    style="cursor: pointer; outline: none"
    [routerLink]="'/angular-features/user-by-id/'+i.id"
    [routerLinkActive]="'user-ids__link'"
  >user {{i.id}}</span>
</div>

<div *ngIf="user$ | async as user" class="user-frame p-3">
  <p class="fs-2">{{user.name}}</p>
  <p class="fs-5">{{user.username}}</p>
  <p class="fs-5">{{user.company.name}}</p>
</div>
