\:host
  display: flex
  flex-direction: column
  margin: 24px

.user-frame
  border: teal 2px dashed
  width: 20rem
  height: 20rem

.user-ids
  display: flex
  flex-direction: row
  &__link
    color: red
