<div><a target="_blank" href="https://stackblitz.com/edit/angular-hostview-injection?file=src%2Fapp%2Fapp.component.ts">Create dynamic component in Angular 7</a></div>
<div><a target="_blank" href="https://netbasal.com/create-advanced-components-in-angular-e0655df5dde6">Create Advanced Components in Angular 7</a></div>
<div><a target="_blank" href="https://dev.to/railsstudent/dynamically-load-components-in-angular-13-5474">Dynamically load components in Angular 13</a></div>
<br>
<div>
  <h4 style="display: inline-block; margin-right: 10px">Динамическая вставка компонентов:</h4>
  <button (click)="addComponent()">Add</button>
  <button (click)="changeComp0()">change component0</button>
  <button (click)="changeComp1()">change component1</button>
</div>

<div class="todo-container">
  <ng-container #vc></ng-container>
</div>
