<div *ngIf="users$ | async as users">
  <div class="user-ids mb-6 align-self-center">
    <span
      *ngFor="let user of users"
      style="cursor: pointer; outline: none; margin-left: 8px"
      (click)="userId = user.id - 1"
      [ngClass]="{'user-ids__link': userId === user.id - 1}"
    >user {{user.id}}</span>
  </div>

  <div class="user-frame p-3">
    <p class="fs-2">{{users[userId].name}}</p>
    <p class="fs-5">{{users[userId].username}}</p>
    <p class="fs-5">{{users[userId].company.name}}</p>
  </div>
</div>
