<h3>template-test</h3>
<ng-content select=".header"></ng-content>
<ng-container *ngTemplateOutlet="ref; context: {$implicit: 'default value', someKey: 123}"></ng-container>
<hr>
<ng-content select=".footer"></ng-content>

<ng-container *ngIf="true">
  <div *ngFor="let num of [1,2,3]">{{num}}</div>
</ng-container>

<div *ngFor="let num of [1,2,3]">
  <ng-container *ngTemplateOutlet="template || cycleTemplate; context: {$implicit: num}"></ng-container>
</div>

<hr>

<ng-template #ref let-pref>
  <p>template {{pref}}</p>
</ng-template>

<ng-template #cycleTemplate let-someDefault>
  <span>default: {{someDefault}} (no template from app are present)</span>
</ng-template>
