.todo-item
  position: relative
  display: flex
  flex: 1
  align-items: flex-start
  margin: 10px
  padding: 7px
  width: 400px
  height: 100px
  background-color: goldenrod
  color: tomato

  &__content
    width: 100%
    height: 100px
    &__header
      color: #fff
    &__description
      color: teal

  &__delete
    color: red

  &__id
    position: absolute
    left: 0
    bottom: 0
    font-size: 12px
    color: #fff
