<div class="todo-item">
  <div class="todo-item__content">
    <span class="todo-item__content__header">{{data.headerText}}</span><br>
    <span class="todo-item__content__description">{{data.description}}</span><br>
  </div>
  <button class="todo-item__delete" (click)="deleteTodoItem()">X</button>
  <span class="todo-item__id">id: {{data.id}}</span>
</div>
