<div class="click-rect" (click)="showTooltip(true, $event)">1</div>
<div class="click-rect" [style.justify-self]="'center'" (click)="showTooltip(true, $event)">2</div>
<div class="click-rect" [style.justify-self]="'end'" (click)="showTooltip(true, $event)">3</div>
<div class="click-rect" [style.align-self]="'center'" (click)="showTooltip(true, $event)">4</div>
<div class="click-rect" [style.align-self]="'center'" [style.justify-self]="'center'" (click)="showTooltip(true, $event)">5</div>
<div class="click-rect" [style.align-self]="'center'" [style.justify-self]="'end'" (click)="showTooltip(true, $event)">6</div>
<div class="click-rect" [style.align-self]="'end'" (click)="showTooltip(true, $event)">7</div>
<div class="click-rect" [style.align-self]="'end'" [style.justify-self]="'center'" (click)="showTooltip(true, $event)">8</div>
<div class="click-rect" [style.align-self]="'end'" [style.justify-self]="'end'" (click)="showTooltip(true, $event)">9</div>

<div *ngIf="isTooltipVisible" class="tooltip" (appClickOutside)="showTooltip(false)" [ngStyle]="tooltipStyle">
  <span [style.color]="'#fff'">some tooltip</span>
</div>
