\:host
  display: grid
  grid-template-columns: 1fr 350px 1fr
  gap: 50px 20px
  margin: 0
  height: 100vh

.click-rect
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  width: 50px
  height: 50px
  background-color: aquamarine
  font-weight: bold

.tooltip
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  background-color: brown
