<h3>custom checkbox 1</h3>

<div>
  <p><a href="https://codepen.io/milenkovicigor/pen/AjdJRL" target="_blank">Simple Custom Checkbox</a></p>
  <p><a href="https://youtu.be/4YRG6cMAASI?t=325" target="_blank">Как бы вы реализовали кастомный чекбокс</a></p>
</div>

<div>
  <input class="input-elem" #checkboxInput id="checkbox-elem" type="checkbox" [(ngModel)]="isChecked">
  <label class="label-elem" for="checkbox-elem"></label>
</div>

<div class="status">
  <p (click)="checkboxInput.click()">{{isChecked ? 'checked' : 'unchecked'}}</p>
</div>

<br>

<h3>custom checkbox 2</h3>

<div>
  <p><a href="https://www.youtube.com/watch?v=E6kLaaQFctU" target="_blank">Кастомные чекбоксы правильно</a></p>
  <p><a href="https://github.com/pepelsbey/playground/tree/main/14" target="_blank">https://github.com/pepelsbey/playground/tree/main/14</a></p>
</div>

<label class="check option">
  <input class="check__input" type="checkbox" autofocus>
  <span class="check__box"></span>
  <span>Первый</span>
</label>
<label class="check option">
  <input class="check__input" type="checkbox" [checked]="true">
  <span class="check__box"></span>
  Второй
</label>
<label class="check option">
  <input class="check__input" type="checkbox" [disabled]="true">
  <span class="check__box"></span>
  Третий
</label>
<label class="check option">
  <input class="check__input" type="checkbox" [checked]="true" [disabled]="true">
  <span class="check__box"></span>
  Четвёртый
</label>
