/* Checkbox 1 */

.input-elem[type="checkbox"]
  display: none

.label-elem
  position: absolute
  cursor: pointer
  width: 30px
  height: 30px
  background-color: black
  border-radius: 50%

.input-elem[type="checkbox"]:checked + .label-elem
  background-color: red

.status
  position: relative
  cursor: pointer
  left: 50px
  width: fit-content


/* Checkbox 2 */

.option
  display: block
  margin-bottom: 0.25em

.check
  padding-left: 1.2em
  cursor: pointer
  width: fit-content

.check__input
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  position: absolute

.check__box
  position: absolute
  margin-left: -1.2em
  margin-top: 0.3em
  width: 1em
  height: 1em
  background-image: url('../../../../assets/checkboxes/off.svg')

.check__input:checked + .check__box
  background-image: url('../../../../assets/checkboxes/on.svg')

/* Checkbox 2 focused */
.check__input:focus + .check__box
  background-image: url('../../../../assets/checkboxes/off-focused.svg')
.check__input:checked:focus + .check__box
  background-image: url('../../../../assets/checkboxes/on-focused.svg')

/* Checkbox 2 disabled */
.check__input:disabled + .check__box
  background-image: url('../../../../assets/checkboxes/off-disabled.svg')
.check__input:checked:disabled + .check__box
  background-image: url('../../../../assets/checkboxes/on-disabled.svg')
