<app-content-child-parent>
  <p #ref>something else ...</p>
  <app-content-child-child [title]="title"></app-content-child-child>
  <app-content-child-child [title]="title"></app-content-child-child>
  <app-content-child-child [title]="title"></app-content-child-child>
  <app-content-child-child #ref [title]="title"></app-content-child-child>
  <app-content-child-child #ref [title]="title"></app-content-child-child>
  <p #ref>something else more ...</p>

  <p #foo>Skip</p>
  <ng-template #bar let-item><p>1. {{item}}</p></ng-template>
  <ng-template #baf let-item><b>2. {{item}}</b></ng-template>
  <ng-template #baz let-item><i>3. {{item}}</i></ng-template>
</app-content-child-parent>
