<div #sidebar class="sidebar">
  <div *ngFor="let item of menuItems; let idx = index" class='item'>
  <span
    *ngIf="item.isHeader; else itemLink"
    [class.item__header__first]="idx === 0"
    [class.item__header]="idx > 0"
  >{{item.name}}</span>
    <ng-template #itemLink>
      <div
        [style.visibility]="rla.isActive ? 'visible' : 'hidden'"
        [class.item__link__active]="rla.isActive"
      >●</div>
      <span
        class="item__link"
        [routerLink]="item.url"
        [routerLinkActive]="'item__link__active'"
        #rla="routerLinkActive"
      >{{item.name}}</span>
    </ng-template>
  </div>
</div>
<div #resize class="resize" (mousedown)="doResize($event)"></div>
