\:host
  display: flex
  flex-direction: row

.sidebar
  flex-direction: column
  padding: 15px 0 15px 10px
  border: 2px solid teal
  box-sizing: border-box
  height: 100vh

.resize
  position: absolute
  top: 0
  bottom: 0
  width: 6px
  height: 100vh
  background-color: teal
  cursor: e-resize

.item
  display: flex
  flex-direction: row
  align-items: center
  &__header
    font-weight: bold
    margin-top: 1em
    &__first
      font-weight: bold
      margin-top: 0
  &__link
    margin: 5px
    cursor: pointer
    color: dodgerblue
    font-size: small
    &:focus
      outline: none
    &:hover
      font-weight: bold
    &__active
      color: red
      font-weight: bold
