<p>parent works!</p>

<ng-content select="app-content-child-child"></ng-content>

<ng-container *ngFor="let template of templatesByRef">
  <ng-container *ngTemplateOutlet="template; context: { $implicit: 'Some template value' }"></ng-container>
</ng-container>
