/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css'
@import "~@ng-select/ng-select/themes/default.theme.css"

\:root
  --globalColorBlue: blue

body
  font-family: 'Segoe UI'
  overflow-y: hidden

ul
  margin: 0
  padding: 0
  list-style-type: none

.commonHeader h3
  color: teal

.scrollbar
  overflow: scroll
  overflow-x: hidden
  &::-webkit-scrollbar
    width: 12px
  &::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
    border-radius: 10px
  &::-webkit-scrollbar-thumb
    border-radius: 10px
    background-color: lighten(teal, 10%)
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5)

input[type=number].hide-spinners::-webkit-inner-spin-button,
input[type=number].hide-spinners::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0
