<p [appCustomStyle]="isDirectiveApplied">Custom directive</p>
<p [ngClass]="{'custom-style': isDirectiveApplied}">ngClass directive</p>
<p [ngStyle]="{'border': isDirectiveApplied ? '2px solid green' : 'unset'}">ngStyle directive</p>
<p [style.background-color]="isDirectiveApplied ? 'chocolate' : 'unset'">style.background-color</p>

<p *ngIf="isDirectiveApplied" class="fw-bold">ngIf Directive</p>

<ng-container *ngIf="isDirectiveApplied">
  <p *ngFor="let i of items">{{'ngFor item ' + i.id}}</p>
</ng-container>

<ng-container [ngSwitch]="random">
  <p *ngSwitchCase="1">ngSwitchCase <span style="color: darkblue">One</span></p>
  <p *ngSwitchCase="2">ngSwitchCase <span style="color: darkblue">Two</span></p>
  <p *ngSwitchCase="3">ngSwitchCase <span style="color: darkblue">Three</span></p>
  <p *ngSwitchDefault>ngSwitchCase <span style="color: darkblue">Default</span></p>
</ng-container>

<button
  type="button"
  class="btn mt-4"
  [ngClass]="{'btn-success': !isDirectiveApplied, 'btn-danger': isDirectiveApplied}"
  (click)="applyDirectives()"
>{{!isDirectiveApplied ? 'Apply' : 'Disapply'}} directives</button>

<div [style]="'margin-top: 50px'">
  <span [style]="'margin-right: 20px'">NumberFormatDirective:</span>
  <input
    [type]="'number'"
    [step]="1"
    [(ngModel)]="inputTest"
    (ngModelChange)="inputTestChange()"
    [appNumberFormat]="{
      integerOnly: false,
      minValue: -10,
      maxValue: 10,
      hideSpinners: true
    }"/>
</div>
<div>
  <span style="font-weight: bold">{{inputTest}}</span>
</div>
