\:host
  box-sizing: border-box
  border-right: 2px solid
  flex: 1
  padding: 8px

.scrollbar
  &::-webkit-scrollbar-thumb
    background-color: lighten(orange, 10%)

.container
  display: flex
  flex-direction: column
  height: calc(100vh - 20px)

.icon-children
  cursor: pointer
  margin: 4px

.item
  display: flex
  align-items: center

.link
  text-decoration: none
  cursor: pointer
