<div class="container scrollbar">
  <ng-container *ngFor="let item of menuItems; let idx = index">
    <div class="item">
      <fa-icon
        class="icon-children me-2"
        [icon]="faAngleRight"
        [style.visibility]="item.children ? 'unset' : 'hidden'"
        [rotate]="menuItems[idx].showChildren ? 90 : null"
        (click)="toggleChildren(idx)"
      ></fa-icon>
      <a [href]="'other/multi-level-menu#'+item.fragment" class="link" (click)="toggleChildren(idx)">{{item.name}}</a>
    </div>
    <ng-container *ngIf="item.showChildren">
      <ul *ngFor="let secondLevelItem of item.children; let secondIdx = index">
        <li>
          <div class="item ms-4">
            <fa-icon
              class="icon-children me-2"
              *ngIf="secondLevelItem.children"
              [icon]="faAngleRight"
              [style.visibility]="secondLevelItem.children ? 'unset' : 'hidden'"
              [rotate]="menuItems[idx].children[secondIdx].showChildren ? 90 : null"
              (click)="toggleSecondLevelChildren(idx, secondIdx)"
            ></fa-icon>
              <a
                [href]="'other/multi-level-menu#'+secondLevelItem.fragment"
                class="link"
                (click)="toggleSecondLevelChildren(idx, secondIdx)">{{secondLevelItem.name}}</a>
          </div>
          <ng-container *ngIf="secondLevelItem.showChildren">
            <ul *ngFor="let thirdLevelItem of secondLevelItem.children">
              <li>
                <div class="item ms-5">
                  <a [href]="'other/multi-level-menu#'+thirdLevelItem.fragment" class="link">{{thirdLevelItem.name}}</a>
                </div>
              </li>
            </ul>
          </ng-container>
        </li>
      </ul>
    </ng-container>
  </ng-container>
</div>
