<div class="child-container">
  <h6 [style.align-self]="'center'">child1 component - @Output()</h6>
  <div>
    Message 1 after: {{timer$ | async | time}}
  </div>
  <div>
    Message 2:
    <button (click)="setMessage2()" [disabled]="timer$ | async">Show message 2</button>
  </div>
  <div>Message 3:
    <input type="text"
      [(ngModel)]="commonMessageObj.message"
      (ngModelChange)="setCommonMessageObj()"/>
  </div>
</div>
