<div class="container">
  <button
    class="btn btn-success arrow-button"
    (click)="toggleMode()"
    [title]="mode === 'UP'
      ? 'set right' : mode === 'RIGHT'
      ? 'set down' : mode === 'DOWN'
      ? 'set left' : 'set up'
  ">
    <fa-icon
      [icon]="mode === 'UP'
      ? faAngleUp : mode === 'RIGHT'
      ? faAngleRight : mode === 'DOWN'
      ? faAngleDown : faAngleLeft
  "></fa-icon>
  </button>
  <span class="fw-bold ms-4">{{mode}}</span>
</div>
